<nz-layout>
  <nz-sider nzTheme="light">
    <app-sider-menu></app-sider-menu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-horizontal-menu nz-row></app-horizontal-menu>
    </nz-header>
    <nz-breadcrumb [nzAutoGenerate]="true">
      <nz-breadcrumb-item>
        <a [routerLink]="'/'">Home</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content [@routeAnimation]="animationRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
